<div class="container">
  <div class="masonry-container posts">
    <div class="grid">

        <% @blogs.reverse.each do |blog| %>
          <% unless blog.picture == nil %>
            <% if blog == @blogs.last %>
              <div class="grid-sizer"></div>
              <div class="grid-item--width2">
                <div class="blog-image">
                  <%= image_tag blog.picture.image.large.url %>
                  </div>
                  <div class="blog-body blog-post">
                    <h1 class="blog-title"><%= blog.title %></h1>
                    <p><%= blog.body %></p>
                    <p>Posted on: <%= blog.created_at.strftime("%m-%d-%Y") %></p>
                  </div>
              </div><!-- Grid Item 2 -->
            <% else %>
              <div class="grid-sizer"></div>
              <div class="grid-item">
                <div class="blog-image">
                  <%= image_tag blog.picture.image.large.url, class: "blog-image" %>
                  </div>
                  <div class="blog-body blog-post">
                    <h1 class="blog-title"><%= blog.title %></h1>
                    <p><%= blog.body %></p>
                    <p>Posted on: <%= blog.created_at.strftime("%m-%d-%Y") %></p>
                  </div>
              </div><!-- Grid Item -->
            <% end %>
          <% end %> <!-- Unless -->
        <% end %><!-- Blogs Index -->

    </div><!-- Grid -->
  </div><!-- Masonry Container -->
</div> <!-- Container -->


<script>

    $(document).ready(function() {
      var $grid = $('.grid').masonry({ });

        $grid.masonry({
          // set itemSelector so .grid-sizer is not used in layout
          itemSelector: '.grid-item',
          // use element for option
          columnWidth: '.grid-sizer',
          percentPosition: true
        });


        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });

    });

</script>
