<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1>Projects</h1></br>
      <%= form_for @project do |f| %>
        <div class="field">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title %>
        </div>
        <div class ="field">
          <%= f.label :body, "Body" %>
          <%= f.text_field :body %>
        </div>
        <%= f.fields_for :picture do |ff| %>
        <div class="field">
          <%= ff.file_field :image %>
        </div>
        <% end %>
        <div class="actions">
          <%= f.submit%>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <h1>Blogs</h1></br>
      <%= form_for @blog do |f| %>
        <div class="field">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :body, "Body" %>
          <%= f.text_field :body %>
        </div>
        <%= f.fields_for :picture do |ff| %>
        <div class="field">
          <%= ff.file_field :image %>
        </div>
        <% end %>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<br>
<br>
<br>

<footer style="background-color: silver; color: #777">
  <% if session.id != nil %>
    <%= link_to "Log Out", logout_path %>
  <% end %>
</footer>
